---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <div	class="page-link">
	  {% assign reorder = site.pages | sort: 'order' | where: 'modding', 'true' %}
	  {% for page in reorder %}
		<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	  {% endfor %}
  </div>

</article>
